<div class="layui-body">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>deployments</legend>
  </fieldset>

  <div class="layui-row layui-col-space10">
    <div class="layui-col-md5">
      <div class="layui-row layui-bg-gray">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
          <legend>metadata</legend>
        </fieldset>
      </div>
    </div>
    <div class="layui-col-md7">
      <div class="layui-row layui-bg-red">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
          <legend>spec</legend>
        </fieldset>
      </div>
    </div>
  </div>
</div>
