<div class="">
  <div class="box-content">
    <h4 class="box-title" id="boxTitle">Namespace</h4>
    <form id="commentForm" method="post" resourcetype="namespace" postresourceurl="?method=Create" novalidate="novalidate">
      <div id="tabsleft" class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#table-metadata" data-toggle="tab" aria-expanded="true">Metadata</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="table-metadata">
            <div>
              <h4></h4>
              <div class="row small-spacing">
                <div class="col-md-4 col-xs-12">
                  <div class="form-group">
                    <label>选择集群: </label>


                    <select name="clusterSelect" style="background-color: transparent; color: whitesmoke" class="clusterSelect required" id="quotaCluster" aria-required="true">

                      <option selected="true"></option>

                      <option style="color: black;">
                        cluster1
                      </option>


                    </select>
                  </div>
                  <div class="form-group">
                    <div class="container-ports">
                      <label for="namespaceSelect">Namespace名称: </label>

                      <input type="text" placeholder="请输入Namespace名称" id="namespaceSelect" name="namespaceSelect" class="required" aria-required="true" onkeyup="return inputSapceTrim(event,this);">

                    </div>
                  </div>






                  <div class="form-group" style="display: ">

                    <div class="switch primary"><input type="checkbox" zgotmplz="" onclick="healthCheck('namespace-rq')" id="namespace-rq" name="namespace-rq" onkeyup="return inputSapceTrim(event,this);"><label for="namespace-rq">资源限制:</label></div>

                    <div id="namespace-rq-check" style="display: none">
                      <div class="form-group">
                        <div class="container-ports">
                          <label for="resourcequota-name">ResourceQuota名称: </label>
                          <input type="text" placeholder="请输入ResourceQuota名称" id="resourcequota-name" value="" name="resourcequota-name" class="required" zgotmplz="" aria-required="true" onkeyup="return inputSapceTrim(event,this);">
                        </div>
                      </div>
                      <table id="namespace-rq-table" class="table table-striped table-bordered display">
                        <thead>
                        <tr>
                          <th style="color: whitesmoke">资源类型</th>
                          <th style="color: whitesmoke; width: 10px">请求量</th>
                          <th style="color: whitesmoke; width: 20px">单位</th>
                        </tr>
                        </thead>
                        <tbody id="namespace-rq-table-td">
                        <tr>
                          <td>
                            <input style="width: 300px" value="最大內存 Request" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-mem-request" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-rq-mem-request-unit">
                              <option selected="true">Gi</option>
                              <option>Mi</option>

                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最大CPU Request" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-cpu-request" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-rq-cpu-request-unit">
                              <option selected="true">m</option>
                              <option>个</option>

                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最大內存 Limit" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-mem-limit" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-rq-mem-limit-unit">
                              <option selected="true">Gi</option>
                              <option>Mi</option>

                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最大CPU Limit" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-cpu-limit" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-rq-cpu-limit-unit">
                              <option selected="true">m</option>
                              <option>个</option>

                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最多Pod数量" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-max-pod" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select>
                              <option>个</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最多ConfigMap数量" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-max-configmap" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select>
                              <option>个</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最多Secret数量" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-max-secret" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select>
                              <option>个</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最多pvc数量" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-max-pvc" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select>
                              <option>个</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最大存储空间" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-max-storage" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-rq-max-storage-unit">
                              <option selected="true">Gi</option>
                              <option>Mi</option>

                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="最多Service数量" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-rq-max-svc" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select>
                              <option>个</option>
                            </select>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <p style="color: yellow; width: 500px">以下配置用于对未设置Request和Limit的Pod设置默认值</p>
                      <div class="form-group">
                        <div class="container-ports">
                          <label for="limitRange-name">配置容器的默认Limit和Request: </label>
                        </div>
                      </div>
                      <table id="namespace-lr-table" class="table table-striped table-bordered display">
                        <thead>
                        <tr>
                          <th style="color: whitesmoke">资源类型</th>
                          <th style="color: whitesmoke; width: 10px">默认值</th>
                          <th style="color: whitesmoke; width: 20px">单位</th>
                        </tr>
                        </thead>
                        <tbody id="namespace-lr-table-td">
                        <tr>
                          <td>
                            <input style="width: 300px" value="默认內存 Request" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-lr-default-mem-request" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-lr-default-mem-request-unit">
                              <option selected="true">Gi</option>
                              <option>Mi</option>

                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="默认CPU Request" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-lr-default-cpu-request" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-lr-default-cpu-request-unit">
                              <option selected="true">m</option>
                              <option>个</option>

                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="默认內存 Limit" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-lr-default-mem-limit" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-lr-default-mem-limit-unit">
                              <option selected="true">Gi</option>
                              <option>Mi</option>

                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input value="默认CPU Limit" readonly="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <input style="width: 100px" name="namespace-lr-default-cpu-limit" class="number" value="" onkeyup="return inputSapceTrim(event,this);">
                          </td>
                          <td>
                            <select name="namespace-lr-default-cpu-limit-unit">
                              <option selected="true">m</option>
                              <option>个</option>

                            </select>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>

                </div>
              </div>
              <hr>
            </div>
            <ul class="pager wizard">
              <li class="next finish disabled"><input id="submit" type="submit" value="Create" class="btn btn-bordered waves-effect waves-light" onkeyup="return inputSapceTrim(event,this);"></li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>