<div class="layui-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>Namespace</legend>
    </fieldset>

    <div class="layui-table-header">
        <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
            <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 444.667px;">Name</th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 283.667px;">Status</th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Options: activate to sort column ascending" style="width: 88px;">Options</th></tr>
            </thead>
            <tbody id="namespace_list_id">

            </tbody>
        </table>
    </div>
    <button type="button" class="layui-btn layui-btn-lg">create</button>
</div>

<script type="text/javascript">
    $(document).ready(function (){
        // get namespace list
        var getNamespaceList = {
            "url": "/resource/namespace_list",
            "method": "GET",
            "timeout": 0,
        };
        $.ajax(getNamespaceList).done(function (response) {
            for (let i in response.data.items) {
                var namespace_list_id = document.getElementById("namespace_list_id");
                var namespace_tr = document.createElement("tr");
                namespace_tr.id = response.data.items[i].metadata.name;
                namespace_list_id.appendChild(namespace_tr);

                var namespace_list_tr_id = document.getElementById(response.data.items[i].metadata.name);
                var namespace_list_td_name = document.createElement("td");
                namespace_list_td_name.id = response.data.items[i].metadata.name
                namespace_list_td_name.innerText = response.data.items[i].metadata.name
                namespace_list_tr_id.appendChild(namespace_list_td_name);

                var namespace_list_td_ready = document.createElement("td");
                namespace_list_td_ready.id = response.data.items[i].status.phase
                namespace_list_td_ready.innerText = response.data.items[i].status.phase
                namespace_list_tr_id.appendChild(namespace_list_td_ready);

                var dep_list_td_limit = document.createElement("td");
                dep_list_td_limit.id = response.data.items[i].metadata.name
                dep_list_td_limit.innerText = "限制"
                dep_list_td_limit.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
                namespace_list_tr_id.appendChild(dep_list_td_limit);

                var dep_list_td_del = document.createElement("td");
                dep_list_td_del.id = response.data.items[i].metadata.name
                dep_list_td_del.innerText = "del"
                dep_list_td_del.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
                namespace_list_tr_id.appendChild(dep_list_td_del);
            }
        });
    });
</script>

