<div class="layui-body">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>Secrets</legend>
  </fieldset>
  <div class="layui-inline layui-row">
    <label class="layui-card layui-btn-fluid layui-inline">
      <span class="layui-card">namespace</span>
      <select class="" name="interest" lay-filter="aihao" id="namespace_list_id" onchange="gradeChange(this.options[this.options.selectedIndex].text)">
      </select>
    </label>

  </div>

  <div class="layui-table-box">
    <div class="layui-table-header">
      <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
        <thead>
          <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Namespace: activate to sort column ascending">Namespace</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Type: activate to sort column ascending">Type</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Option: activate to sort column ascending">Option</th>
          </tr>
        </thead>
        <tbody id="secrets_list_id">
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="layui-btn layui-btn-lg">create</button>
</div>

<script>
  $(document).ready(function (){
    // get namespace list
    var getNamespaceList = {
      "url": "/resource/namespace_list",
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(getNamespaceList).done(function (response) {
      for (let i in response.data.items) {
        var namespace_list_id = document.getElementById("namespace_list_id");
        var namespace_option = document.createElement("option");
        namespace_option.innerText = response.data.items[i].metadata.name;
        namespace_option.id = response.data.items[i].metadata.name;
        namespace_option.value = response.data.items[i].metadata.name;
        if (response.data.items[i].metadata.name === "default") {
          namespace_option.selected = true
        }
        namespace_list_id.appendChild(namespace_option);
      }
    });

    var secrets_list_id = {
      "url": "/resource/secrets_list",
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(secrets_list_id).done(function (response) {
      for (let i in response.data.items) {
        var secrets_list_id = document.getElementById("secrets_list_id");
        var secrets_list_id_tr = document.createElement("tr");
        secrets_list_id_tr.id = response.data.items[i].metadata.name
        secrets_list_id.appendChild(secrets_list_id_tr);
        var secrets_list_id_tr_id = document.getElementById(response.data.items[i].metadata.name);

        var secrets_list_td_name = document.createElement("td");
        secrets_list_td_name.id = response.data.items[i].metadata.name
        secrets_list_td_name.innerText = response.data.items[i].metadata.name
        secrets_list_id_tr_id.appendChild(secrets_list_td_name);

        var secrets_list_td_namespace = document.createElement("td");
        secrets_list_td_namespace.id = response.data.items[i].metadata.namespace
        secrets_list_td_namespace.innerText = response.data.items[i].metadata.namespace
        secrets_list_id_tr_id.appendChild(secrets_list_td_namespace);

        var secrets_list_td_type = document.createElement("td")
        secrets_list_td_type.id = response.data.items[i].type
        secrets_list_td_type.innerText = response.data.items[i].type
        secrets_list_id_tr_id.appendChild(secrets_list_td_type);

        var secrets_list_td_edit = document.createElement("td");
        secrets_list_td_edit.id = response.data.items[i].metadata.name
        secrets_list_td_edit.innerText = "edit"
        secrets_list_td_edit.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        secrets_list_id_tr_id.appendChild(secrets_list_td_edit);

        var secrets_list_td_del = document.createElement("td");
        secrets_list_td_del.id = response.data.items[i].metadata.name
        secrets_list_td_del.innerText = "del"
        secrets_list_td_del.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        secrets_list_id_tr_id.appendChild(secrets_list_td_del);
      }
    });
  });

  var gradeChange = function (tx){
    $("#secrets_list_id").html("");
    var secrets_list_id = {
      "url": "/resource/secrets_list?namespace="+tx,
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(secrets_list_id).done(function (response) {
      for (let i in response.data.items) {
        var secrets_list_id = document.getElementById("secrets_list_id");
        var secrets_list_id_tr = document.createElement("tr");
        secrets_list_id_tr.id = response.data.items[i].metadata.name
        secrets_list_id.appendChild(secrets_list_id_tr);
        var secrets_list_id_tr_id = document.getElementById(response.data.items[i].metadata.name);

        var secrets_list_td_name = document.createElement("td");
        secrets_list_td_name.id = response.data.items[i].metadata.name
        secrets_list_td_name.innerText = response.data.items[i].metadata.name
        secrets_list_id_tr_id.appendChild(secrets_list_td_name);

        var secrets_list_td_namespace = document.createElement("td");
        secrets_list_td_namespace.id = response.data.items[i].metadata.namespace
        secrets_list_td_namespace.innerText = response.data.items[i].metadata.namespace
        secrets_list_id_tr_id.appendChild(secrets_list_td_namespace);

        var secrets_list_td_type = document.createElement("td")
        secrets_list_td_type.id = response.data.items[i].type
        secrets_list_td_type.innerText = response.data.items[i].type
        secrets_list_id_tr_id.appendChild(secrets_list_td_type);

        var secrets_list_td_edit = document.createElement("td");
        secrets_list_td_edit.id = response.data.items[i].metadata.name
        secrets_list_td_edit.innerText = "edit"
        secrets_list_td_edit.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        secrets_list_id_tr_id.appendChild(secrets_list_td_edit);

        var secrets_list_td_del = document.createElement("td");
        secrets_list_td_del.id = response.data.items[i].metadata.name
        secrets_list_td_del.innerText = "del"
        secrets_list_td_del.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        secrets_list_id_tr_id.appendChild(secrets_list_td_del);
      }
    });
  }
</script>