<div class="layui-header layui-bg-black" style="position:relative;">
  <div class="layui-logo layui-row-md6"><a href="/" style="display: inline; color: floralwhite"><b>K8S-MANAGER</b></a>
  </div>

<!--  <form action="/search" method="get" class="layui-form layui-layout-right" style="position: absolute; right: 200px">-->
<!--    <div class="layui-input-inline ">-->
<!--      <br>-->
<!--      <input type="text" name="q" required lay-verify="required" placeholder="查询的工单ID" autocomplete="off" class="layui-input">-->

<!--      <button class="layui-btn layui-btn-primary" lay-submit lay-filter="cbt" style="-->
<!--                    position: absolute;-->
<!--                    top: 15px;-->
<!--                    left: -90px;-->
<!--                    ">-->
<!--        <i class="layui-icon" style="font-size: 30px; color: #2F4056;">&#xe615;</i>-->
<!--      </button>-->
<!--    </div>-->
<!--  </form>-->
  <!-- 头部区域（可配合layui已有的水平导航） -->

  <div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
<!--        <a href="">{{ $.leve }}&nbsp;&nbsp;{{ $.user }}</a>-->
        <dl class="layui-nav-child">
          <dd><a href="/user_info">个人主页</a></dd>
          <dd><a href="/logout">退出登录</a></dd>
        </dl>
      </li>
    </ul>
  </div>

</div>