<div class="layui-body">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>DaemonSets</legend>
  </fieldset>
  <div class="layui-inline layui-row">
    <label class="layui-card layui-btn-fluid layui-inline">
      <span class="layui-card">namespace</span>
      <select class="" name="interest" lay-filter="aihao" id="namespace_list_id" onchange="gradeChange(this.options[this.options.selectedIndex].text)">
      </select>
    </label>

  </div>

  <div class="layui-table-box">
    <div class="layui-table-header">
      <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
        <thead>
          <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Namespace: activate to sort column ascending">Namespace</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Option: activate to sort column ascending">Option</th>
          </tr>
        </thead>
        <tbody id="damonSet_list_id">
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="layui-btn layui-btn-lg">create</button>
</div>

<script>
  $(document).ready(function (){
    // get namespace list
    var getNamespaceList = {
      "url": "/resource/namespace_list",
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(getNamespaceList).done(function (response) {
      for (let i in response.data.items) {
        var namespace_list_id = document.getElementById("namespace_list_id");
        var namespace_option = document.createElement("option");
        namespace_option.innerText = response.data.items[i].metadata.name;
        namespace_option.id = response.data.items[i].metadata.name;
        namespace_option.value = response.data.items[i].metadata.name;
        if (response.data.items[i].metadata.name === "default") {
          namespace_option.selected = true
        }
        namespace_list_id.appendChild(namespace_option);
      }
    });

    // get pod list
    var getdamonSet_list = {
      "url": "/resource/damonSet_list",
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(getdamonSet_list).done(function (response) {
      for (let i in response.data.items) {
        var damonSet_list_id = document.getElementById("damonSet_list_id");
        var damonSet_list_id_tr = document.createElement("tr");
        damonSet_list_id_tr.id = "?daemonSets="+response.data.items[i].metadata.name+"&&namespace="+response.data.items[i].metadata.namespace
        damonSet_list_id.appendChild(damonSet_list_id_tr);
        var damonSet_list_tr_id = document.getElementById("?daemonSets="+response.data.items[i].metadata.name+"&&namespace="+response.data.items[i].metadata.namespace);

        var damonSet_list_td_name = document.createElement("td");
        damonSet_list_td_name.id = response.data.items[i].metadata.name
        damonSet_list_td_name.innerText = response.data.items[i].metadata.name
        damonSet_list_tr_id.appendChild(damonSet_list_td_name);

        var damonSet_list_td_namespace = document.createElement("td");
        damonSet_list_td_namespace.id = response.data.items[i].metadata.namespace
        damonSet_list_td_namespace.innerText = response.data.items[i].metadata.namespace
        damonSet_list_tr_id.appendChild(damonSet_list_td_namespace);

        var damonSet_list_td_edit = document.createElement("td");
        damonSet_list_td_edit.id = response.data.items[i].metadata.name
        damonSet_list_td_edit.innerHTML = `<button type='button' onclick='click_pod_info(this)' >YAML</button>`
        damonSet_list_td_edit.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        damonSet_list_tr_id.appendChild(damonSet_list_td_edit);
      }
    });
  });

  var gradeChange = function (tx){
    $("#damonSet_list_id").html("");
    var getdamonSet_list = {
      "url": "/resource/damonSet_list?namespace="+tx,
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(getdamonSet_list).done(function (response) {
      for (let i in response.data.items) {
        var damonSet_list_id = document.getElementById("damonSet_list_id");
        var damonSet_list_id_tr = document.createElement("tr");
        damonSet_list_id_tr.id = "?daemonSets="+response.data.items[i].metadata.name+"&&namespace="+response.data.items[i].metadata.namespace
        damonSet_list_id.appendChild(damonSet_list_id_tr);
        var damonSet_list_tr_id = document.getElementById("?daemonSets="+response.data.items[i].metadata.name+"&&namespace="+response.data.items[i].metadata.namespace);

        var damonSet_list_td_name = document.createElement("td");
        damonSet_list_td_name.id = response.data.items[i].metadata.name
        damonSet_list_td_name.innerText = response.data.items[i].metadata.name
        damonSet_list_tr_id.appendChild(damonSet_list_td_name);

        var damonSet_list_td_namespace = document.createElement("td");
        damonSet_list_td_namespace.id = response.data.items[i].metadata.namespace
        damonSet_list_td_namespace.innerText = response.data.items[i].metadata.namespace
        damonSet_list_tr_id.appendChild(damonSet_list_td_namespace);

        var damonSet_list_td_edit = document.createElement("td");
        damonSet_list_td_edit.id = response.data.items[i].metadata.name
        damonSet_list_td_edit.innerHTML = `<button type='button' onclick='click_pod_info(this)' >YAML</button>`
        damonSet_list_td_edit.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        damonSet_list_tr_id.appendChild(damonSet_list_td_edit);
      }
    });
  }

  // alert Popups
  let Box = {};
  Box.close = () =>{
    let body = document.body;
    let modal = body.querySelectorAll(".box-modal");
    modal.forEach((dom) => {
      dom.parentNode.removeChild(dom);
    })
  };
  Box.show = (boxhtml) => {
    Box.close;
    let Dom = document.createElement('div');
    Dom.classList.add('box-modal');
    Dom.style= " display: flex;\n" +
            "            justify-content: center;\n" +
            "            position: fixed;\n" +
            "            left: 0; \n" +
            "            top: 0;\n" +
            "            right: 0;\n" +
            "            bottom: 0;\n" +
            "            z-index: 99999;"
    Dom.innerHTML = boxhtml;
    document.body.append(Dom);
  };
  Box.edit = (this_dom) => {
    var contactEditor = ace.edit("content");
    var code = contactEditor.getValue();
    var form = new FormData();
    form.append("data", code)
    var settings = {
      "url": "/resource/daemonSets_update"+this_dom.id,
      "method": "POST",
      "timeout": 0,
      "processData": false,
      "mimeType": "multipart/form-data",
      "contentType": false,
      "data": form
    };
    $.ajax(settings).done(function (response) {
      var parse = JSON.parse(response);
      layer.alert(parse.message+" 2 secs reload")
      setTimeout(function() {
        window.location.reload(1);
      }, 2000); // After 5 secs
    });
  }
  Box.del = (this_dom) => {

    var form = new FormData();
    var del_settings = {
      "url": "/resource/daemonSets_del"+this_dom.id,
      "method": "POST",
      "timeout": 0,
      "processData": false,
      "mimeType": "multipart/form-data",
      "contentType": false,
      "data": form
    };

    $.ajax(del_settings).done(function (response) {
      var parse = JSON.parse(response);
      layer.alert(parse.message+" 2 secs reload")
      setTimeout(function() {
        window.location.reload(1);
      }, 2000); // After 5 secs
    });
  }
  function tuneEditor( editor , req) {
    editor.setTheme("ace/theme/cobalt" );
    editor.getSession().setMode("ace/mode/yaml" );
    editor.setShowPrintMargin( true );
    editor.setShowInvisibles( true );
    editor.setReadOnly( false );
    editor.focus(false);
    editor.setHighlightActiveLine(false);
    editor.setShowPrintMargin(false);
    editor.insert(req);
    editor.resize()
  }
  var click_pod_info = function (node){
    var podname = node.parentNode.parentNode.id
    $.ajax({url:"/resource/daemonSets_info"+podname,success:function(result){
        let innerhtml = `<div style="width:auto;height:auto;align-self:center">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;"><legend>Yaml</legend></fieldset>
            <pre id="content" style="height: 600px; width: 600px"></pre>
            <div style="text-align:center"><button class="layui-btn" onclick="Box.close()">取消</button>`+
                `<button id=`+node.parentNode.parentNode.id+` class="layui-btn" onclick="Box.edit(this)">updata</button>
                <button id=`+node.parentNode.parentNode.id+` class="layui-btn" onclick="Box.del(this)">del</button></div></div>`
        Box.show(innerhtml);
        var contactEditor = ace.edit("content");
        tuneEditor( contactEditor,result.data);
      }});
  };
</script>