<div class="layui-body">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>POD</legend>
  </fieldset>


  <div class="layui-inline layui-row">
    <label class="layui-card layui-btn-fluid layui-inline">
      <span class="layui-card">namespace</span>
      <select class="" name="interest" lay-filter="aihao" id="namespace_list_id" onchange="gradeChange(this.options[this.options.selectedIndex].text)">
      </select>
    </label>

  </div>


  <div class="layui-table-header">
    <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
      <thead>
        <tr>
          <th data-field="username" data-key="1-0-1" class="">
            <div class="layui-table-cell laytable-cell-1-0-1">
              <span>Create Time</span>
            </div>
          </th>
          <th data-field="email" data-key="1-0-2" class="">
            <div class="layui-table-cell laytable-cell-1-0-2">
              <span>Name</span>
            </div>
          </th>
          <th data-field="sex" data-key="1-0-3" class=" layui-unselect">
            <div class="layui-table-cell laytable-cell-1-0-3">
              <span>Node IP</span>
            </div>
          </th>
          <th data-field="experience" data-key="1-0-6" class=" layui-unselect">
            <div class="layui-table-cell laytable-cell-1-0-6">
              <span>POD IP</span>
            </div>
          </th>
          <th data-field="experience" data-key="1-0-6" class=" layui-unselect">
            <div class="layui-table-cell laytable-cell-1-0-6">
              <span>Ready</span>
            </div>
          </th>
          <th data-field="experience" data-key="1-0-6" class=" layui-unselect">
            <div class="layui-table-cell laytable-cell-1-0-6">
              <span>Restart</span>
            </div>
          </th>
          <th data-field="experience" data-key="1-0-6" class=" layui-unselect">
            <div class="layui-table-cell laytable-cell-1-0-6">
              <span>Status</span>
            </div>
          </th>
          <th data-field="experience" data-key="1-0-6" class=" layui-unselect">
            <div class="layui-table-cell laytable-cell-1-0-6">
              <span>QoS</span>
            </div>
          </th>
          <th data-field="experience" data-key="1-0-6" class=" layui-unselect">
            <div class="layui-table-cell laytable-cell-1-0-6">
              <span>Option</span>
            </div>
          </th>

        </tr>
      </thead>
      <tbody id="pod_list_id">

      </tbody>
    </table>
  </div>
  <button type="button" class="layui-btn layui-btn-lg">create</button>
</div>

<script type="text/javascript">
  $(document).ready(function (){
    // get namespace list
    var getNamespaceList = {
      "url": "/resource/namespace_list",
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(getNamespaceList).done(function (response) {
            for (let i in response.data[0].items) {
              var namespace_list_id = document.getElementById("namespace_list_id");
              var namespace_option = document.createElement("option");
              namespace_option.innerText = response.data[0].items[i].metadata.name;
              namespace_option.id = response.data[0].items[i].metadata.name;
              namespace_option.value = response.data[0].items[i].metadata.name;
              if (response.data[0].items[i].metadata.name === "default") {
                namespace_option.selected = true
              }
              namespace_list_id.appendChild(namespace_option);
            }
    });
    // get pod list
    var getPodList = {
      "url": "/resource/pod_list",
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(getPodList).done(function (response) {
      for (let i in response.data[0].items) {
        var pod_list_id = document.getElementById("pod_list_id");
        var pod_list_tr = document.createElement("tr");
        pod_list_tr.id = "?pod="+response.data[0].items[i].metadata.name+"&&namespace="+response.data[0].items[i].metadata.namespace
        pod_list_id.appendChild(pod_list_tr);
        var pod_list_tr_id = document.getElementById("?pod="+response.data[0].items[i].metadata.name+"&&namespace="+response.data[0].items[i].metadata.namespace);
        var pod_list_td_time = document.createElement("td");
        pod_list_td_time.id = response.data[0].items[i].metadata.creationTimestamp
        pod_list_td_time.innerText = response.data[0].items[i].metadata.creationTimestamp
        pod_list_tr_id.appendChild(pod_list_td_time);
        var pod_list_td_name = document.createElement("td");
        pod_list_td_name.id = response.data[0].items[i].metadata.name
        pod_list_td_name.innerText = response.data[0].items[i].metadata.name
        pod_list_tr_id.appendChild(pod_list_td_name);
        var pod_list_td_node = document.createElement("td");
        pod_list_td_node.id = response.data[0].items[i].status.hostIP
        pod_list_td_node.innerText = response.data[0].items[i].status.hostIP
        pod_list_tr_id.appendChild(pod_list_td_node);
        var pod_list_td_node_ip = document.createElement("td");
        pod_list_td_node_ip.id = response.data[0].items[i].status.podIP
        pod_list_td_node_ip.innerText = response.data[0].items[i].status.podIP
        pod_list_tr_id.appendChild(pod_list_td_node_ip);
        var pod_list_td_pod_ready = document.createElement("td");
        pod_list_td_pod_ready.id = response.data[0].items[i].status.containerStatuses[0].ready
        pod_list_td_pod_ready.innerText = response.data[0].items[i].status.containerStatuses[0].ready
        pod_list_tr_id.appendChild(pod_list_td_pod_ready);
        var pod_list_td_pod_restart = document.createElement("td");
        pod_list_td_pod_restart.id = response.data[0].items[i].status.containerStatuses[0].restartCount
        pod_list_td_pod_restart.innerText = response.data[0].items[i].status.containerStatuses[0].restartCount
        pod_list_tr_id.appendChild(pod_list_td_pod_restart);
        var pod_list_td_pod_status = document.createElement("td");
        pod_list_td_pod_status.id = response.data[0].items[i].status.phase
        pod_list_td_pod_status.innerText = response.data[0].items[i].status.phase
        pod_list_tr_id.appendChild(pod_list_td_pod_status);
        var pod_list_td_pod_qos = document.createElement("td");
        pod_list_td_pod_qos.id = response.data[0].items[i].status.qosClass
        pod_list_td_pod_qos.innerText = response.data[0].items[i].status.qosClass
        pod_list_tr_id.appendChild(pod_list_td_pod_qos);

        var pod_list_td_pod_info = document.createElement("td");
        pod_list_td_pod_info.innerHTML = `<button type='button' onclick='click_pod_info(this)' >info</button>`
        pod_list_td_pod_info.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        pod_list_tr_id.appendChild(pod_list_td_pod_info);
        var pod_list_td_pod_ssh = document.createElement("td");
        pod_list_td_pod_ssh.innerHTML = `<button type='button' onclick='click_pod_ssh(this)' >ssh</button>`
        pod_list_td_pod_ssh.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        pod_list_tr_id.appendChild(pod_list_td_pod_ssh);
      }
    });
  });
  // touch  namespace get pod list
  var gradeChange = function (tx){
    $("#pod_list_id").html("");
    var getPodList = {
      "url": "/resource/pod_list?namespace="+tx,
      "method": "GET",
      "timeout": 0,
    };
    $.ajax(getPodList).done(function (response) {
      for (let i in response.data[0].items) {
        var pod_list_id = document.getElementById("pod_list_id");
        var pod_list_tr = document.createElement("tr");
        pod_list_tr.id = "?pod="+response.data[0].items[i].metadata.name+"&&namespace="+response.data[0].items[i].metadata.namespace
        pod_list_id.appendChild(pod_list_tr);
        var pod_list_tr_id = document.getElementById("?pod="+response.data[0].items[i].metadata.name+"&&namespace="+response.data[0].items[i].metadata.namespace);
        var pod_list_td_time = document.createElement("td");
        pod_list_td_time.id = response.data[0].items[i].metadata.creationTimestamp
        pod_list_td_time.innerText = response.data[0].items[i].metadata.creationTimestamp
        pod_list_tr_id.appendChild(pod_list_td_time);
        var pod_list_td_name = document.createElement("td");
        pod_list_td_name.id = response.data[0].items[i].metadata.name
        pod_list_td_name.innerText = response.data[0].items[i].metadata.name
        pod_list_tr_id.appendChild(pod_list_td_name);
        var pod_list_td_node = document.createElement("td");
        pod_list_td_node.id = response.data[0].items[i].status.hostIP
        pod_list_td_node.innerText = response.data[0].items[i].status.hostIP
        pod_list_tr_id.appendChild(pod_list_td_node);
        var pod_list_td_node_ip = document.createElement("td");
        pod_list_td_node_ip.id = response.data[0].items[i].status.podIP
        pod_list_td_node_ip.innerText = response.data[0].items[i].status.podIP
        pod_list_tr_id.appendChild(pod_list_td_node_ip);
        var pod_list_td_pod_ready = document.createElement("td");
        pod_list_td_pod_ready.id = response.data[0].items[i].status.containerStatuses[0].ready
        pod_list_td_pod_ready.innerText = response.data[0].items[i].status.containerStatuses[0].ready
        pod_list_tr_id.appendChild(pod_list_td_pod_ready);
        var pod_list_td_pod_restart = document.createElement("td");
        pod_list_td_pod_restart.id = response.data[0].items[i].status.containerStatuses[0].restartCount
        pod_list_td_pod_restart.innerText = response.data[0].items[i].status.containerStatuses[0].restartCount
        pod_list_tr_id.appendChild(pod_list_td_pod_restart);
        var pod_list_td_pod_status = document.createElement("td");
        pod_list_td_pod_status.id = response.data[0].items[i].status.phase
        pod_list_td_pod_status.innerText = response.data[0].items[i].status.phase
        pod_list_tr_id.appendChild(pod_list_td_pod_status);
        var pod_list_td_pod_qos = document.createElement("td");
        pod_list_td_pod_qos.id = response.data[0].items[i].status.qosClass
        pod_list_td_pod_qos.innerText = response.data[0].items[i].status.qosClass
        pod_list_tr_id.appendChild(pod_list_td_pod_qos);

        var pod_list_td_pod_info = document.createElement("td");
        pod_list_td_pod_info.innerHTML = `<button type='button' onclick='click_pod_info(this)' >info</button>`
        pod_list_td_pod_info.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        pod_list_tr_id.appendChild(pod_list_td_pod_info);
        var pod_list_td_pod_ssh = document.createElement("td");
        pod_list_td_pod_ssh.innerHTML = `<button type='button' onclick='click_pod_ssh(this)' >ssh</button>`
        pod_list_td_pod_ssh.className = "layui-btn layui-btn-radius layui-btn-primary layui-btn-radius"
        pod_list_tr_id.appendChild(pod_list_td_pod_ssh);
      }
    });
  };

  // alert Popups
  let Box = {};
  Box.close = () =>{
    let body = document.body;
    let modal = body.querySelectorAll(".box-modal");
    modal.forEach((dom) => {
      dom.parentNode.removeChild(dom);
    })
  };
  Box.show = (boxhtml) => {
    Box.close;
    let Dom = document.createElement('div');
    Dom.classList.add('box-modal');
    Dom.style= " display: flex;\n" +
            "            justify-content: center;\n" +
            "            position: fixed;\n" +
            "            left: 0; \n" +
            "            top: 0;\n" +
            "            right: 0;\n" +
            "            bottom: 0;\n" +
            "            z-index: 99999;"
    Dom.innerHTML = boxhtml;
    document.body.append(Dom);
  };
  function tuneEditor( editor , req) {
    editor.setTheme("ace/theme/cobalt" );
    editor.getSession().setMode("ace/mode/yaml" );
    editor.setShowPrintMargin( true );
    editor.setShowInvisibles( true );
    editor.setReadOnly( false );
    editor.focus(false);
    editor.setHighlightActiveLine(false);
    editor.setShowPrintMargin(false);
    editor.insert(req);
    editor.resize()
  }
  var click_pod_info = function (node){
    var podname = node.parentNode.parentNode.id
    $.ajax({url:"/resource/pod_info"+podname,success:function(result){
        let innerhtml = `<div style="width:auto;height:auto;align-self:center">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;"><legend>Yaml</legend></fieldset>
            <pre id="content" style="height: 600px; width: 600px"></pre>
            <div style="text-align:center"><button class="layui-btn" onclick="Box.close()">取消</button></div>
            </div>`
        Box.show(innerhtml);
        var contactEditor = ace.edit("content");
        tuneEditor( contactEditor,result.data);
      }});
  };
  var click_pod_ssh = function (node){
    var podname = node.parentNode.parentNode.id

    $.ajax({url:"/resource/pod_json_info"+podname,success:function(result){
        // https://172.16.0.143:6443/api/v1/namespaces/default/pods/nginx-deployment-5cbd8757f-d5qvx/exec?command=sh&container=nginx&stderr=true&stdin=true&stdout=true&tty=true
        //GET http 192.168.43.111:8111 /container/terminal/shell/ws?name=undefined&namespace=undefined&container=undefined&cols=193&rows=36
        // name ?
        // namespace ?
        // container ?
        let name = result.data.metadata.name
        let namespace = result.data.metadata.namespace
        let container = result.data.spec.containers[0].name
        setTimeout(function () { $(location).attr('href', '/container/terminal/shell/ws?name='+name+'&namespace=' +
                namespace+'&container='+container);}, 1000);
        console.log(result)
      }});
  };
</script>

